body {
	font-family: 'ABeeZee','Helvetica Neue', Arial, sans-serif;
	-webkit-text-size-adjust: none;
	color: #333;
	max-width: 720px;
	margin: 0 auto;
	padding: 10px;
  background:#f9fbff;
}

a {
  color:inherit;
  text-decoration: none
}

u {
  text-underline-position: under;
  text-decoration-style: wavy;
}

ul {
  list-style-type: square;
}

#top, #bottom, #left, #right {
  background: #c6d9ff;
  position: fixed;
}
#left, #right {
  top: 0; bottom: 0;
  width: 25px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
  left: 0; right: 0;
  height: 25px;
}
#top { top: 0; }
#bottom { bottom: 0; }



#content {
  position:absolute;
  transition:0.8s ease-in-out;
  font-size:15px;
  line-height:25px;
  top:50%;
  margin-top:-200px;
  left:50%;
  margin-left:-270px;
}

#content a {
  text-underline-position: under;
  text-decoration-style: wavy; 
}

#content .textbox {
  background-color:rgba(177,250,213,0.75);
  width:500px;
  padding:10px 30px 30px 30px;
  transition:0.5s ease-in-out;
  text-align:justify;
}

#content .textbox::after {
  z-index: -10 !important; 
  content: " ";
  position: absolute;
  top: -30px;
  left: -30px;
  width:560px;
  height:350px;
  background-color: rgba(177,178,250,0.6);
  transform: rotate(-10deg);
  transition:0.5s ease-in-out;
}

#content u {
  text-decoration: underline wavy #000;
}


#content h1 {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing:-1px;
  font-size:40px;
  margin-bottom:20px;
}


#sidebar {
  position:absolute;
  left:50%;
  margin-left:-75px;
  top:50%;
  margin-top:-50px;
}

.holder {
  top:50%;
  margin-top:-50px;
  width:280px;
  position:relative;
  vertical-align: center;
  margin-left:0px;
  padding-left:20px;
}

.container {
  width: 100px;
  height: 100px;
  position: relative;
  perspective: 500px;
}


.links {
  position:absolute;
  left:140px;
  top:10px;
  width:80px;

  height:75px;

  overflow:hidden;
  transition:0.3s ease-in-out;
}

.links a {
  position:relative;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Courier';
  font-size:10px;
  color:#666;

  width: 35px;
  height:35px;
  line-height:35px;

  text-align:center;
  margin:0px -5px 0px 0px;
  background-color: #eee;
  border:2px solid transparent;  
  background-clip: padding-box;
  transition:0.3s ease-in-out;
}

.links:hover a:not(:hover) {
  opacity:0.6;
}

.textrotateLR {
  -webkit-transform: rotateY(180deg);
}

