#cube {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  transform: rotate3d(1,1,1,20deg);
  color:rgba(0,0,0,0);
}

#cube figure {
  margin: 0;
  width: 99px;
  height: 99px;
  display: block;
  position: absolute; /*important*/
  border: 1px solid rgba(0,0,0,0.8);
  line-height:99px;
  font-size:12px;
  letter-spacing:1px;
  text-transform:lowercase;
  text-align:center;
  font-weight: bold;
  -webkit-transition: ease-in 0.5s;
  transition-delay: 0.45s;
}


#cube .front  {background-color: rgba(189,250,255,0);transform-origin: bottom left;color:rgba(0,0,0,1); transition-delay:0s;}
#cube .back   {background-color: rgba(189,250,255,0.7);}
#cube .right  {background-color: rgba(255,194,189,0.7);transform-origin:bottom left;}
#cube .left   {background-color: rgba(255,194,189,0.7);transform-origin:bottom right;}
#cube .top    {background-color: rgba(202,177,250,0.7);transform-origin:bottom left;}
#cube .bottom {background-color: rgba(202,177,250,0.7);transform-origin:top left;}


.spinning { 
  -webkit-animation-play-state: running;
  transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg );
}


@keyframes spin {
  0% { transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); }
  100% { transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); }
        
}


#cube .front  { transform: translateZ(50px); }
#cube .back   { transform: translateZ(-50px); }
#cube .right  { transform: rotateY(90deg) translateX(-50px) translateZ(100px);}
#cube .left   { transform: rotateY(-90deg) translateX(50px) translateZ(100px); }
#cube .top    { transform: rotateX(90deg) translateY(50px); }
#cube .bottom { transform: rotateX(-90deg) translateY(-50px);}


#cube { transition: transform 1s; }
